<div class="topic-index-wrapper">
  <div class="container">
    <div class="row">
      <div class="pro-index-single2 col-md-12">
        <p class="user-pro-image2 pro-top col-md-4 text-center offset-col-md-8">
          <%= image_tag @user.image.url %>
        </p>
        <p pro-top class= "pro-top2 col-md-8 text-center">
          <%= @user.name %>
        </p>
        <!-- フォロー -->
        <%= render 'devise/shared/stats' %>
        <div class="text-center">
          <%= render 'devise/shared/follow_form'%>
        </div>

        <div class="col-md-8 pro-text">
          <p><%= @user.profile %></p>
        </div>

        <div class= "profile-other col-md-12 ">
          <p>
            <i class="fas fa-map-marker-alt"></i>
            <%= @user.address %>
          </p>
          <p>
            <i class="fas fa-birthday-cake"></i>
            <%= @user.age %>代
          </p>
            <% if user_signed_in? && current_user.id == @user.id  %>
            <%= link_to edit_user_registration_path(@user) do %>
              <p>編集</p>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="col-md-5">
        <h2 class="text-center">コミュニティー</h2>
        <div class="group-conte ">
          <% @user.groups.each do |group| %>
          <p>
            <%= image_tag group.image.url %>
            <%= link_to group_path(group.id) do %>
            <%= group.name %>
            <% end %>
          </p>
          <% end %>
        </div>
      </div>

      <div class="col-md-7">
        <h2 class = "text-center">投稿</h2>
        <% @user.topics.each do |topic| %>
          <div class="topic-index-single">
            <h2 class="topic-author">
              <p class="user-image">
                <%= image_tag topic.user.image.url %>
              </p>
              <p>
                <%=topic.user.name %>
              </p>
              <p class="time-text">
                <%= l topic.created_at, format: :short %>
              </p>
            </h2>

            <div class="topic-conte">
              <p class="topic-text"><!-- 本文 --><%= topic.description %></p>
                <!--画像 (※ある場合のみ) -->
              <p class= "topic-image">
                <% if topic.image.present? %>
                <%= image_tag topic.image.url %>
                <% end %>
              </p>

              <!-- いいねボタン -->
              <div class="icon-list fa-2x">
                <div id="likes_buttons_<%= topic.id %>">
                  <%= render partial: 'likes/like', locals: { topic: topic} %>
                </div>

                <!-- コメント -->
                <%= link_to "/topics/#{topic.id}" do %>
                  <i class="far fa-comment"></i>
                <% end %>
                <%= topic.comments.count %>
              </div>

              <!--  ログインしているかつtopicと投稿したuserが一緒なら -->
              <% if user_signed_in? && current_user.id == topic.user_id  %>
                <%= link_to '削除', topic, method: :delete, data: {confirm: '削除してよろしいですか？'} %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
