<!DOCTYPE html>
<html>
  <head>
    <title>Expression</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <body>


    <!-- ナビゲーション -->
   <nav class="navbar navbar-default navbar-fixed-top navbar-transparent navbar-inverse">
     <!-- 省略メニューボタン -->
     <button type="button" class="navbar-toggle collapsed"data-toggle="collapse"data-target="#navbarEexample10">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>

     <!-- トップ -->
     <div class="container">
        <ul class="nav navbar-nav navbar-static-top">
          <li class="navbar-brand">
            <%= link_to root_path do %>
              EXPRESSION
            <% end %>
          </li>
        </ul>

        <!-- メニュー一覧 -->
        <div class="collapse navbar-collapse" id="navbarEexample10">
          <ul class="nav navbar-nav navbar-right ">
            <% if user_signed_in? %>
            <li>
              <%= link_to topics_path do %>
               ホーム
              <% end %>
            </li>

           <li>
             <%= link_to new_topic_path do %>
               ツイート投稿
             <% end %>
           </li>
           <li>
             <%= link_to  edit_user_registration_path do %>
               編集
             <% end %>
           </li>
             <li>
               <%= link_to"ログアウト", destroy_user_session_path, method: :delete, data: {confirm: 'ログアウトしてよろしいですか？'}  %>

             </li>
            <% else %>
             <li>
               <%= link_to new_user_session_path do %>
                 ログイン
               <% end %>
             </li>
            <% end %>
         </ul>
       </div>
     </div>
   </nav>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% elsif alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
